$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(136, 136, 136);
$headingColor: rgb(0, 0, 0);
$text-size: 14px;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
$color-price: #050505;   